{{! template-lint-disable no-inline-styles }}

{{! Issue: https://github.com/emberjs/rfcs/issues/497 }}

<div
  class="expander__content"
  style={{@style}}
  ...attributes
  {{did-insert @onInsert}}
  {{on "transitionend" @onTransitionEnd}}
>
  {{yield}}
</div>