/* stylelint-disable selector-max-id */

:root {
  --collapsed: red;
  --expanded: green;
}

#ember-testing {
  .expander__content {
    transition: max-height 100ms;
  }

  .test-internal-height {
    height: 10px;
  }
}

.demo {
  .expander[aria-expanded='false'] .expander__content {
    border: 1px solid var(--collapsed);
  }

  .expander[aria-expanded='true'] .expander__content {
    border: 1px solid var(--expanded);
  }

  .expander--transition .expander__content {
    overflow: hidden;
    transition: max-height 1s;
  }
}
